.content__table--title {
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 70px;
  border: 1px solid #ccc;
  padding-left: 0;
  width: 100%;
  z-index: 1;
}

.content__title {
  color: var(--primary-color);

  padding-left: 0 !important;
}

.content__table {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.content__table--title input {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.content__filter {
  height: 40px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content__filter input {
  height: 100%;
  width: 80%;
  padding-left: 20px;
  font-size: 16px;
  outline: none;
  cursor: text;
}

.content__filter i {
  font-size: 20px;
  color: white;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.content__table--container {
  height: 100%;
}

.content__table--container-list {
  list-style: none;
}

.content__table--container-item {
  padding: 20px 0;
}

.content__table--container-item-input input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.content__table--container-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info__top {
  font-weight: 600;
}

.info__top i {
  margin-right: 10px;
}

.info__bottom i {
  margin-right: 10px;
}

.content__table--container-item {
  display: flex;
  align-items: center;
}

.content__table--container-item-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.content__table--container-item-edit i {
  font-size: 20px;
  cursor: pointer;
}

.content__table--container-item-edit i:hover {
  color: var(--primary-color);
}

.content__table--container-item-notification {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.content__table--container-item-notification:hover {
  color: var(--primary-color);
}
.content__table--container-item-delete i {
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s linear;
  padding: 20px;
  font-weight: 600;
}

.content__table--container-item-delete i:hover {
  color: var(--primary-color);
}

.info__bottom--title {
  font-weight: 600;
  font-size: 18px;
  padding: 10px 0;
}

.info__bottom--title,
.info__bottom--content {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* số dòng hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__table--container-item-change {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.content__table--container-item-change form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content__table--container-select {
  height: 40px;
}

.content__table--container-select {
  font-size: 16px;
}
